In [6]:
print('I will now count my chickens: ')
print('Hens', 25+ 30 / 6)
print('Roosters', 100 - 25 * 3 % 4)

I will now count my chickens:
Hens 30.0
Roosters 97

In [4]:
3 / 4

0.75

In [8]:
print('Now I will count the eggs: ')
print(3 + 1 + 1 + 5 / 4 * 6)

Now I will count the eggs:
12.5

In [12]:
print(3 + 2 < 5 -7)
print(100 + 2 > 10 -7)

False
True

In [15]:
print('Is it greater? ', 5 > -2)
print('Is it greater or equal ', 5 > -2)

Is it greater?  True
Is it greater or equal  True

IS or IS NOT

In [16]:
s_1 = "helloworld"
s_2 = "helloworld"

s_1 is s_2

True

In [17]:
s_3 = "helloworld"
s_4 = "Helloworld"

s_3 is s_4

False

In [18]:
"h" in s_3

True

In [19]:
"H" in s_3

False

In [22]:
s_1 = "hello world"
s_2 = "hello world"

s_1 == s_2

True

In [23]:
s_1 = "hello world"
s_2 = "hello world"

s_1 is s_2

False

Casting

In [26]:
# INT()

x = int(1)
y = int(2.6)
z = ('3')

In [27]:
"36.6" + "44.33"

'36.644.33'

In [28]:
float(36.6) + float(44.33)

80.93

In [29]:
int(35.7)

35

In [30]:
round(35.7)

36

In [35]:
total_students = 7
print( "Total number of students" + str(total_students))

Total number of students7

In [36]:
total_students = 7
print( "Total number of students" , str(total_students))

Total number of students 7

In [37]:
a ="200"
b = "300"

print(int(a) + int(b))

500

List -> in a list "element" and "index"

In [56]:
go_to_the_supermarket = ["milk", "peanut", "tofu", "vegetable", "seaweed"]
go_to_the_supermarket

print(go_to_the_supermarket[0])
print(go_to_the_supermarket[0], go_to_the_supermarket[1])
print(go_to_the_supermarket[0::3])

print(go_to_the_supermarket[1])
print(go_to_the_supermarket[2:4])
print(go_to_the_supermarket[2:])
print(go_to_the_supermarket[:-2])

print("Total Index = " ,len(go_to_the_supermarket))

milk
milk peanut
['milk', 'vegetable']
peanut
['tofu', 'vegetable']
['tofu', 'vegetable', 'seaweed']
['milk', 'peanut', 'tofu']
Total Index =  5

    home work

In [1]:
list1 = ["Mon","tue","Wed","Thu","Fri","Sat","Sun"]
print(list1[1::2])

# start:stop:step

['tue', 'Thu', 'Sat']

In [6]:
week = ["MON","TUE","WED","THU","FRI","SAT","SUN"]
print(week[::2])

['MON', 'WED', 'FRI', 'SUN']

In [14]:
a = [1,2,3,4,5]
b = a[::2]

print (b)
print (a[::3])
print (a[::-1])

[1, 3, 5]
[1, 4]
[5, 4, 3, 2, 1]