In [ ]:
x = "preedicha jar"
print (len(x))

In [11]:
x.replace(" ","")

'preedichajar'

In [16]:
' Hello '.strip()

'Hello'

In [21]:
go_to_the_supermarket = ["milk", "peanut", "tofu", "vegetable", "seaweed"]

In [22]:
go_to_the_supermarket.append("egg")
go_to_the_supermarket

['milk', 'peanut', 'tofu', 'vegetable', 'seaweed', 'egg']

In [23]:
del go_to_the_supermarket[0]
go_to_the_supermarket

['peanut', 'tofu', 'vegetable', 'seaweed', 'egg']

In [24]:
go_to_the_supermarket[2] = "meat"

In [25]:
go_to_the_supermarket

['peanut', 'tofu', 'meat', 'seaweed', 'egg']

In [26]:
go_to_the_supermarket.insert(2, "water")

In [27]:
go_to_the_supermarket

['peanut', 'tofu', 'water', 'meat', 'seaweed', 'egg']

In [48]:
week = "Mon Tue Wed Thu Fri Sat Sun"

week1 = list(week.split(" "))

print(week1[:1:-2])

print(week1[::-2] , week1[1::])

['Sun', 'Fri', 'Wed']
['Sun', 'Fri', 'Wed', 'Mon'] ['Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

dictionary {}
dict contains "key" and "value"
"key" must be unique
"value" can be anything

In [52]:
dic = {1:"A",
    2:"B",
    3:"C"}

dic

{1: 'A', 2: 'B', 3: 'C'}

In [55]:
dic_shop = {"Yui-san" : "milk",
           "Chairath" : "peanut",
           "Shoji-san" : "meat",
           "Husni-san" : "vegetable",
           "Vk-san" : "seaweed"}

dic_shop["Chairath"]

'peanut'

In [56]:
# add one element in dict

dic_shop["Bien-san"] = "edd"

In [57]:
dic_shop

{'Yui-san': 'milk',
 'Chairath': 'peanut',
 'Shoji-san': 'meat',
 'Husni-san': 'vegetable',
 'Vk-san': 'seaweed',
 'Bien-san': 'edd'}

In [58]:
del dic_shop["Chairath"]
dic_shop

{'Yui-san': 'milk',
 'Shoji-san': 'meat',
 'Husni-san': 'vegetable',
 'Vk-san': 'seaweed',
 'Bien-san': 'edd'}

In [59]:
dic_int ={
    "2010": [2],
    "2009": [4,7],
    "1989": [8]
}

In [60]:
dic_int

{'2010': [2], '2009': [4, 7], '1989': [8]}

In [68]:
dic_day = {"mon" : [1,8,16],
           "tue" : [2,9,17],
           "wed" : [3,10,18]
          }

dic_day["mon"][0]

1

In [69]:
dic_thu = {"thu" : [1,3,5,7,[1,2]]}

In [70]:
dic_thu["thu"][4]

[1, 2]

In [73]:
dic_thu["thu"][4][1]

2

In [11]:
emp_sal = {410374 : ["Nopparat", 100000],
          620860 : ["Chairath", 20000],
          620845 : ["Cheewin", 70000]}
perc = 0.1

print(emp_sal)
print("-------------------")
print(emp_sal[410374][0:2])
emp_sal.keys()

{410374: ['Nopparat', 100000], 620860: ['Chairath', 20000], 620845: ['Cheewin', 70000]}
-------------------
['Nopparat', 100000]

dict_keys([410374, 620860, 620845])

In [23]:
for item in emp_sal:
    print("Key : {} , Value : {}".format(item,emp_sal[item]))

Key : 410374 , Value : ['Nopparat', 100000]
Key : 620860 , Value : ['Chairath', 20000]
Key : 620845 , Value : ['Cheewin', 70000]

In [29]:
my_dict = {"one": 1,"two":2,"three":3,"four":4}

for item in my_dict:
    print("Key : {} , Value : {}".format(item,my_dict[item]))

Key : one , Value : 1
Key : two , Value : 2
Key : three , Value : 3
Key : four , Value : 4

In [33]:
released = {"iphone" : 2007,
        "iphone 3G" : 2008,
        "iphone 3GS" : 2009,
        "iphone 4" : 2010,
        "iphone 4S" : 2011,
        "iphone 5" : 2012}

print(released)

{'iphone': 2007, 'iphone 3G': 2008, 'iphone 3GS': 2009, 'iphone 4': 2010, 'iphone 4S': 2011, 'iphone 5': 2012}

In [35]:
print (released.get("iphone 3G", "none"))

2008

In [48]:
fruit = {
    "banana": 1.00,
    "apple": 1.53,
    "kiwi": 2.00,
    "avocado": 3.23,
    "mango": 2.33,
    "pineapple": 1.44,
    "strawberries": 1.95,
    "melon": 2.34,
    "grapes": 0.98
}

In [49]:
print(fruit['kiwi'])

2.0

In [52]:
for k, v in fruit.items():
    if k == 'kiwi':
        print(k,v, v*100)

kiwi 2.0 200.0

สร้าง Dict สำหรับเก็บข้อมูลพนักงาน โดยมี ID, Name, และ Salary เป็น Key รายละเอียดพนักงานมีดังนี้

410374, Nopparat, 100000
620860, Chairath, 20000
620845, Cheewin, 70000

หลังจากสร้าง Dict เรียบร้อย เลือกมา 1 คน ให้หาค่า 10% ของเงินเดือน
โดย print ID, Name, และ 10% ของ เงินเดือน

In [53]:
emp_sal = {410374 : ["Nopparat", 100000],
          620860 : ["Chairath", 20000],
          620845 : ["Cheewin", 70000]}
perc = 0.1

In [62]:
for k, v in emp_sal.items():
    if  k == 410374 :
        print("ID:",k ,"Name", v[0], "10% of Sal",v[1]*perc)

ID: 410374 Name Nopparat 10% of Sal 10000.0

In [1]:
# declare variable and assign value
emp_sal = {410374 : ["Nopparat", 100000],
         620860 : ["Chairath", 20000],
         620845 : ["Cheewin", 70000]}
perc = 0.1

In [6]:
# for loop
for k, v in emp_sal.items():
   if k == 410374 :
       print("ID:",k ,"Name", v[0], "10% of Sal",v[1]*perc)


print("ID:", [key for key in emp_sal.keys()][0], "Name:", emp_sal[410374][0], emp_sal[410374][1] * perc)

ID: 410374 Name Nopparat 10% of Sal 10000.0
ID: 410374 Name: Nopparat 10000.0

In [7]:
import pprint
pprint.pprint(emp_sal.keys())

dict_keys([410374, 620860, 620845])

In [8]:
emp_sal.keys()

dict_keys([410374, 620860, 620845])

In [9]:
mydic = {410374 : [410374, "Nopparat", 100000],
         620860 : [620860, "Chairath", 20000],
         620845 : [620845, "Cheewin", 70000],
         212121 : [212121, "Pattama", 100001]
         }
perc = 0.1
print(mydic)

{410374: [410374, 'Nopparat', 100000], 620860: [620860, 'Chairath', 20000], 620845: [620845, 'Cheewin', 70000], 212121: [212121, 'Pattama', 100001]}

In [10]:
print("ID:", mydic[212121][0], "Name:",mydic[212121][1], "10% of Salary:", mydic[212121][2] * perc )

ID: 212121 Name: Pattama 10% of Salary: 10000.1

GOJASON

In [18]:
gojason = {"type": "Feature Collection",
 "feature": [
     {"type": "feature",
     "id": "111",
     "properties" : {
         "name": "Thailand",
         "income": 100000000
     }
    }
 ]
}

In [19]:
print(gojason)

{'type': 'Feature Collection', 'feature': [{'type': 'feature', 'id': '111', 'properties': {'name': 'Thailand', 'income': 100000000}}]}